.subscribe {
    background-image: url(https://media.istockphoto.com/photos/blue-abstract-background-or-texture-picture-id1138395421?k=6&m=1138395421&s=612x612&w=0&h=bJ1SRWujCgg3QWzkGPgaRiArNYohPl7-Wc4p_Fa_cyA=);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
    width: 100%;
}
.subscribe-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 140px 0;
    h2 {
        color: $subscribe-font-color;
        margin-bottom: 40px;
    }
    p {
        color: $subscribe-font-color;
        margin-bottom: 60px;
    }
    .subscribe-form {
        display: flex;
        width: 100%;
        justify-content: center;
        input {
            @include buttons($padding: 10px 75px, $bg-color: $subscribe-input-bg, $border: 2px transparent solid, $text-color: #e0e0e0);
            width: 50%;
            max-width: 520px;
            height: 80px;
            border-radius: 5px;
            margin-right: 20px;
        }
        .subscribe-btn {
            @include buttons($padding: 25px 0px, $bg-color: $buttons-bg-color, $border: 2px $buttons-bg-color solid, $text-color: #e0e0e0);
            border-radius: 5px;
            width: 50%;
            max-width: 215px;
            text-align: center;
            a {
                padding: 30px 64px;
                text-decoration: none;
                color: $subscribe-font-color;
                text-transform: uppercase;
            }
        }
        .subscribe-btn:hover {
            @include buttons($padding: 25px 0px, $bg-color: $subscribe-font-color, $border: 2px $buttons-bg-color solid, $text-color: #e0e0e0);

        }
        .subscribe-btn:hover a {
            color: $buttons-bg-color;
        }
    }
}