    .offers {
        margin-bottom: 50px;
    }
    .offers-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #ececec;
    .offers-left-part {
        width: 50%;
    }
    .offers-left-part h2 {
        text-transform: uppercase;
        margin-bottom: 35px;
        font-size: $h2-font-size;
        font-weight: 600;
        letter-spacing: 5px;
    }
    .offers-left-part p {
        color: $text-main-color;
    }
    
    .offers-text {
        margin-bottom: 35px;
    }
    .offers-button {
        border: 2px $buttons-bg-color solid;
        @extend %buttons-styles;
    }
    .offers-button a {
        @include buttons($padding: 10px 70px, $bg-color: white, $border: 2px transparent solid, $text-color: $buttons-bg-color);
        border-radius: 5px;
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
    }
    .offers-button:hover a { 
            @include buttons($padding: 10px 70px, $bg-color: $buttons-bg-color, $border: 2px $buttons-bg-color solid, $text-color: white);
    }
    .offers-right-part {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    .offers-right-part svg {
        margin-bottom: 10px;
    }
    .offers-right-part h3 {
        margin-bottom: 10px;
    }
    .offers-right-part p {
        color: $text-main-color;
    }
    .offers-right-part div {
        width: 50%;
        padding: 0 48px 40px 0;
        box-sizing: border-box;
    }
    
}