.banner {
    width: 100%;
    background-color: #f6f2f2;
    padding: 100px 0;
    margin-bottom: 110px;
    display: flex;

.banner-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.banner-text {
    width: 50%;
}
.banner-text h1 {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    margin: -20px 0px 40px 0px;
    letter-spacing: 10px;
}
.banner-text p {
    font-weight: 500;
    color: $text-main-color;
}
.banner-main-text {
    margin-bottom: 60px;
}
.banner-button {
    border: 2px transparent solid;
    @extend %buttons-styles;
}
button a {
    @include buttons($padding: 10px 75px, $bg-color: $buttons-bg-color, $border: 2px transparent solid, $text-color: #e0e0e0);
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
button:hover a{
    @include buttons($padding: 10px 75px, $bg-color: #f6f2f2, $border: 2px $buttons-bg-color solid, $text-color: $buttons-bg-color);

}
.banner-video {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.banner-promo-video {
    width: 100%;
    box-shadow: black -3px 2px 20px 0px;
}
}