$header-bg-color: #313030;
$header-paddings: 55px 20px 41px 20px;
$menu-paddings: 56px 20px 42px 20px;

$buttons-bg-color: #ff3f40;

$text-main-color: #4c4c4c;

$h2-font-size: 35px;

$subscribe-font-color: #fdfcf8;
$subscribe-input-bg: white;